.text-center {
    text-align: center;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}

li {
    padding: 5px !important;
}

.fc-today {
    background-image: linear-gradient(to bottom, #00008b, #6a5acd);
}

.fc-grid .fc-event-time {
    display: none;
}

.dayOff .fc-event-inner {
    background: #808080;
}

.rightmenu {
    float: right !important;
}

.rightmenu .ui-menu-child {
    left: -160px !important;
}



