<div class="row">
    <div class="col-md-2 leftcolumn">
        <userselector></userselector>
        <br/>
        <weekselector></weekselector>
        <br/>
        Macro t&acirc;che&nbsp;<input type="checkbox" ng-model="macroTask" ng-change="findWorks()"/>
    </div>
    <div class="col-md-10">

        <h1 class="text-center">Suivi de r&eacute;alis&eacute; {{selectedMember.name}} - Semaine {{weekNumber}}</h1>
        <br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>T&acirc;che</th>
                <th ng-repeat="day in days">{{day}}</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="task in tasks">
                <td>{{task}}</td>
                <td ng-repeat="day in days">{{findAmount(task,day)}}
                </th>
            </tr>

            </tbody>
        </table>

        <weekcomment disabled="true" comment="weekcomment" hide="!weekcomment.comment"></weekcomment>

    </div>
</div>