<div class="row">
    <div class="col-md-12">


        <br/>

        <userselector ng-show="admin"></userselector>
        <br/>


        <div role="tabpanel">
            <h1 class="text-center">Suivi de r&eacute;alis&eacute; {{selectedMember.name}}</h1>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="showclass('week')"><a role="tab" data-toggle="tab"
                                                                        ng-click="setTab('week')">Par semaine</a></li>
                <li role="presentation" ng-class="showclass('month')"><a role="tab" data-toggle="tab"
                                                                         ng-click="setTab('month')">Par mois</a></li>
            </ul>

            <h2 class="text-center">{{months[month-1]}}</h2>

            <div class="tab-content">
                <div role="tabpanel" ng-show="isSelectedTab('week')">


                    <h2 class="text-center">

                        <button class="btn btn-sm btn-info weekselector-button" ng-click="decreaseWeek()"
                                ng-show="weekNumber>1"><span
                                class="glyphicon glyphicon-chevron-left"></span>&nbsp;Semaine
                            {{weekNumber-1}}
                        </button>

                        Semaine {{weekNumber}}

                        <button class="btn btn-sm btn-info  weekselector-button" ng-click="increaseWeek()"
                                ng-show="weekNumber<53">Semaine
                            {{weekNumber+1}}&nbsp;<span
                                    class="glyphicon glyphicon-chevron-right"/></button>
                    </h2>
                    <br/>

                    <table class="table table-striped" ng-show="weektasks.length>0">
                        <thead>
                        <tr>
                            <th>T&acirc;che</th>
                            <th><em>Total</em></th>
                            <th ng-repeat="day in weekdays | orderBy:day">{{displayString(day)}}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="task in weektasks">
                            <td>{{task.name}}</td>
                            <td><em>{{task.total}}</em></td>
                            <td ng-repeat="day in weekdays  | orderBy:day">{{findAmount(task.name,day)}}
                            </th>
                        </tr>

                        </tbody>
                    </table>

                    <div class="alert alert-info" role="alert" ng-show="weektasks.length<=0">Aucun réalisé</div>

                    <weekcomment disabled="true" comment="weekcomment" hide="!weekcomment.comment"></weekcomment>
                </div>
                <div role="tabpanel" ng-show="isSelectedTab('month')">

                    <div class="col-md-3 col-md-offset-4">

                        <table class="table table-striped" ng-show="tasks.length>0">
                            <thead>
                            <tr>
                                <th ng-click="setOrderMonth('name')">T&acirc;che&nbsp;<span
                                        ng-class="showOrderClass('name')"></span></th>
                                <th ng-click="setOrderMonth('total')">Total&nbsp;<span
                                        ng-class="showOrderClass('total')"></span></th>
                            </tr>
                            </thead>
                            <tfoot>
                            <th>Total</th>
                            <th>{{totalTask()}}</th>
                            </tfoot>
                            <tbody>

                            <tr ng-repeat="task in tasks | orderBy: ordermonth">
                                <td>{{task.name}}</td>
                                <td>{{task.total}}</td>
                                </th>
                            </tr>

                            </tbody>
                        </table>
                        <div class="alert alert-info" role="alert" ng-show="tasks.length<=0">Aucun réalisé</div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
