<h1 class="text-center">{{filteredBC.length }} Business Case</h1>
<div class="row">
    <div class="col-md-2">
        Filtrer&nbsp;: <input ng-model="query">
        <br/><br/> Trier&nbsp;:
        <select ng-model="orderProp">
            <option value="identifier">Num&eacute;ro</option>
            <option value="name">Nom</option>
            <option value="-name">Nom desc</option>
            <option value="amountDouble">Montant asc</option>
            <option value="-amountDouble">Montant desc</option>
        </select>
        <br/><br/>
        <a href="#/newBusinessCase" class="btn btn-info">Ajouter un BC</a>
    </div>
    <div class="col-md-10">
        <div class="bg-success">{{confirmation}}</div>
        <div class="bg-danger">{{error}}</div>
        <br/><br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Num&eacute;ro</th>
                <th>Nom</th>
                <th>MHI</th>
                <th>Remarques</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="bc in (filteredBC= (businesscases | filter:query | orderBy:orderProp))">

                <td>{{bc.identifier}}</td>
                <td>{{bc.name}}</td>
                <td>{{bc.amount}}</td>
                <td>{{bc.comment}}</td>
                <td>
                    <a ng-click="deleteBc(bc.id);" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>

            </tbody>

            <tfoot>

            <tr class="success">
                <td class="text-right" colspan="2">Total&nbsp;:</td>
                <td>{{total()}}</td>
                <td colspan="2"></td>
            </tr>

            </tfoot>
        </table>
    </div>
</div>
