<h1 class="text-center">{{filteredBC.length }} Business Case</h1>
<div class="row">
    <div class="col-md-2">
        Filtrer&nbsp;: <input ng-model="query">
        <br/><br/> Trier&nbsp;:
        <select ng-model="orderProp">
            <option value="identifier">Num&eacute;ro</option>
            <option value="name">Nom</option>
            <option value="amountDouble">Montant asc</option>
            <option value="-amountDouble">Montant desc</option>
        </select>

    </div>
    <div class="col-md-10">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Num&eacute;ro</th>
                <th>Nom</th>
                <th>MHI</th>
                <th>Remarques</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="bc in (filteredBC= (businesscases | filter:query | orderBy:orderProp))">

                <td>{{bc.identifier}}</td>
                <td>{{bc.name}}</td>
                <td>{{bc.amount}}</td>
                <td>{{bc.comment}}</td>
            </tr>

            </tbody>

            <tfoot>

            <tr class="success">
                <td class="text-right" colspan="2">Total&nbsp;:</td>
                <td>{{total()}}</td>
                <td></td>
            </tr>

            </tfoot>
        </table>
        <br/>

        <form role="form" action="#">
            <h2>Ajout de BC</h2>

            <div class="form-group">
                <label for="identifier">Num&eacute;ro</label>
                <input type="text" class="form-control" id="identifier" placeholder="1234" ng-model="identifier">
            </div>
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" placeholder="Project" ng-model="name">
            </div>
            <div class="form-group">
                <label for="amount">Montant (MHI)</label>
                <input type="text" class="form-control" id="amount" placeholder="15" ng-model="amount">
            </div>
            <div class="form-group">
                <label for="comment">Remarque</label>
                <input type="text" class="form-control" id="comment" placeholder="" ng-model="comment">
            </div>

            <button type="submit" class="btn btn-success" ngClick="create()">Cr&eacute;er</button>
        </form>
    </div>
</div>
