<h1 class="text-center">{{filteredBC.length }} Business Case</h1>
<div class="row">
    <div class="col-md-2">
        <a href="#/activities" class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Liste
            des activit&eacute;s</a>
        <br/><br/><br/>
        Filtrer&nbsp;: <input ng-model="query">
        <br/><br/> Trier&nbsp;:
        <select ng-model="orderProp">
            <option value="identifier">Identifiant</option>
            <option value="name">Nom</option>
            <option value="-name">Nom desc</option>
            <option value="amount">Montant asc</option>
            <option value="-amount">Montant desc</option>
        </select>
        <br/><br/>
        <a href="#/newBusinessCase" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter
            un BC</a>
    </div>
    <div class="col-md-10">
        <div class="bg-success">{{confirmation}}</div>
        <div class="bg-danger">{{error}}</div>
        <br/><br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Num&eacute;ro</th>
                <th>Nom</th>
                <th>MHI</th>
                <th>Remarques</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="bc in (filteredBC= (businesscases | filter:query | orderBy:orderProp))">

                <td><span ng-show="!editing">{{bc.identifier}}</span><input ng-model="bc.identifier" ng-show="editing"/>
                </td>
                <td><span ng-show="!editing">{{bc.name}}</span> <input ng-model="bc.name" ng-show="editing"/></td>
                <td><span ng-show="!editing">{{bc.amount}}</span><input type="number" step="any" ng-model="bc.amount"
                                                                        ng-show="editing"/></td>
                <td><span ng-show="!editing">{{bc.comment}}</span><input ng-model="bc.comment" ng-show="editing"/></td>
                <td>
                    <a ng-show="editing" ng-click="updateBc(bc);editing=false;" class="btn btn-success btn-sm"
                       title="Valider">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>

                    <a ng-show="editing" ng-click="refreshBc(bc);editing=false;" class="btn btn-warning btn-sm"
                       title="Annuler la modification">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>

                    <a ng-show="!editing" ng-click="editing=true;" class="btn btn-info btn-sm" title="Modifier">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-show="!editing" ng-click="deleteBc(bc.id);" class="btn btn-danger btn-sm" title="Supprimer">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>

            </tbody>

            <tfoot>

            <tr class="success">
                <td class="text-right" colspan="2">Total&nbsp;:</td>
                <td>{{total()}}</td>
                <td colspan="2"></td>
            </tr>

            </tfoot>
        </table>
    </div>
</div>
