<div class="col-md-3">
    <br/><br/>
    <a href="#/businesscases" class="btn btn-info"> <span
            class="glyphicon glyphicon-arrow-left"></span>&nbsp;Retour &agrave;
        la liste des BC</a>
</div>

<div class="col-md-6">

    <div class="bg-warning">{{warning}}</div>
    <div class="bg-danger">{{error}}</div>

    <form name="newBusinessForm" role="form" ng-submit="newBusinessForm.$valid && create()" novalidate>
        <h2 class="text-center">Ajout de Business Case</h2>

        <div class="form-group">
            <label for="identifier">Identifiant</label>
            <input type="text" class="form-control" id="identifier" ng-model="newbc.identifier">
        </div>
        <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="name" ng-model="newbc.name" required>
        </div>
        <div class="form-group">
            <label for="amount">Montant (MHI)</label>
            <input type="number" step="any" class="form-control" id="amount"
                   ng-model="newbc.amount">
        </div>
        <div class="form-group">
            <label for="comment">Remarque</label>
            <input type="text" class="form-control" id="comment" placeholder="" ng-model="newbc.comment">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success"
                    ng-disabled="!newBusinessForm.$valid || newBusinessForm.$pristine"><span
                    class="glyphicon glyphicon-save"></span>&nbsp;Ajouter
            </button>
        </div>
    </form>
</div>