<div class="row">
    <div class="col-md-12">


        <br/>

        <userselector ng-show="admin"></userselector>
        <br/>


        <div role="tabpanel">
            <h1 class="text-center">Suivi de r&eacute;alis&eacute; {{selectedMember.name}}</h1>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="showclass('week')"><a role="tab" data-toggle="tab"
                                                                        ng-click="setTab('week')">Par semaine</a></li>
                <li role="presentation" ng-class="showclass('month')"><a role="tab" data-toggle="tab"
                                                                         ng-click="setTab('month')">Par mois</a></li>
                <li role="presentation" ng-class="showclass('total')"><a role="tab" data-toggle="tab"
                                                                         ng-click="setTab('total')">Total</a></li>
            </ul>


            <div class="tab-content">
                <div role="tabpanel" ng-show="isSelectedTab('week')">

                    <h2 class="text-center">{{months[byWeekMonth-1]}}</h2>

                    <h2 class="text-center">

                        <button class="btn btn-sm btn-info weekselector-button" ng-click="decreaseWeek()"
                                ng-show="weekNumber>1"><span
                                class="glyphicon glyphicon-chevron-left"></span>&nbsp;Pr&eacute;c&eacute;dente

                        </button>

                        Semaine {{weekNumber}}

                        <button class="btn btn-sm btn-info  weekselector-button" ng-click="increaseWeek()"
                                ng-show="weekNumber<53">Suivante&nbsp;<span
                                class="glyphicon glyphicon-chevron-right"/></button>
                    </h2>
                    <br/>

                    <table class="table table-striped" ng-show="tasks.length>0">
                        <thead>
                        <tr>
                            <th>T&acirc;che</th>
                            <th><em>Total</em></th>
                            <th ng-repeat="day in days | orderBy:day">{{displayString(day)}}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="task in tasks">
                            <td>{{task.name}}</td>
                            <td><em>{{task.total}}</em></td>
                            <td ng-repeat="day in days  | orderBy:day">{{findAmount(task.name,day)}}
                            </th>
                        </tr>

                        </tbody>
                    </table>

                    <div class="alert alert-info" role="alert" ng-show="tasks.length<=0">Aucun réalisé</div>

                    <weekcomment disabled="true" comment="weekcomment" hide="!weekcomment.comment"></weekcomment>
                </div>
                <div role="tabpanel" ng-show="isSelectedTab('month')">

                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="text-center">

                            <button class="btn btn-sm btn-info weekselector-button" ng-click="decreaseMonth()"
                                    ng-show="byMonthMonth>1"><span
                                    class="glyphicon glyphicon-chevron-left"></span>{{months[byMonthMonth-2]}}

                            </button>

                            {{months[byMonthMonth-1]}}

                            <button class="btn btn-sm btn-info  weekselector-button" ng-click="increaseMonth()"
                                    ng-show="byMonthMonth<12">{{months[byMonthMonth]}}&nbsp;<span
                                    class="glyphicon glyphicon-chevron-right"/></button>
                        </h2>

                        <tasklist list="taskMonths"></tasklist>
                    </div>
                </div>
                <div role="tabpanel" ng-show="isSelectedTab('total')">

                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="text-center">
                            {{year}}
                        </h2>

                        <tasklist list="taskTotal"></tasklist>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
