<div class="jumbotron">
    <h1>Bienvenue {{name}} <img class="img-rounded"
                                src="http://www.gravatar.com/avatar/{{hash}}?s=200&d=blank">
    </h1>

    <br/><br/>

    <p ng-show="!loggedIn">Veuillez cliquer en haut &agrave; droite pour vous identifier</p>

    <p ng-show="loggedIn"></p>

    <div class="alertdirective2" ng-class="active">test alert</div>

    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4>Oh snap! You got an error!</h4>

        <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
            lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>

    </div>

</div>
