<h1 class="text-center">{{filteredActivities.length }} Activit&eacute;s</h1>
<div class="row">
    <div class="col-md-2">
        <br/><br/>
        <a href="#/businesscases" class="btn btn-primary"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;Liste
            des BC</a>
        <br/><br/><br/>
        Filtrer&nbsp;: <input ng-model="query">
        <br/><br/> Trier&nbsp;:
        <select ng-model="orderProp">
            <option value="name">Nom</option>
            <option value="-name">Nom desc</option>
            <option value="amount">Montant asc</option>
            <option value="-amount">Montant desc</option>
            <option value="bc.identifier">BC asc</option>
            <option value="-bc.identifier">BC desc</option>
            <option value="bc.name">BC nom asc</option>
            <option value="-bc.name">BC nom desc</option>
        </select>
        <br/><br/>
        <a href="#/newActivity" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Ajouter
            une activit&eacute;</a>
    </div>
    <div class="col-md-10">
        <div class="bg-success">{{confirmation}}</div>
        <div class="bg-danger">{{error}}</div>
        <br/><br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>BC</th>
                <th>D&eacute;l&eacute;gu&eacute;e</th>
                <th>Montant</th>
                <th>Remarques</th>
                <th></th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="activity in (filteredActivities= (activities | filter:query | orderBy:orderProp))">

                <td><span ng-show="!editing">{{activity.name}}</span> <input ng-model="activity.name"
                                                                             ng-show="editing"/></td>
                <td><span ng-show="!editing">{{activity.bc.summary}}</span>

                    <select ng-show="editing" ng-model="activity.bc"
                            ng-options="businessCase.summary for businessCase in businesscases">
                        <option value="">&nbsp;</option>
                    </select>


                    <select ng-show="false" ng-model="activity.bc">

                        <option ng-model="businessCase" ng-repeat="businessCase in businesscases"
                                ng-selected="activity.bc.id==businessCase.id">
                            {{businessCase.summary}}
                        </option>
                    </select>

                </td>


                <td><input type="checkbox" ng-model="activity.delegated" ng-disabled="!editing"></td>

                <td><span ng-show="!editing">{{activity.amount}}</span><input type="number" step="any"
                                                                              ng-model="activity.amount"
                                                                              ng-show="editing"/></td>
                <td><span ng-show="!editing">{{activity.comment}}</span><input ng-model="activity.comment"
                                                                               ng-show="editing"/></td>
                <td>
                    <a ng-show="editing" ng-click="updateActivity(activity);editing=false;"
                       class="btn btn-success btn-sm"
                       title="Valider">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>

                    <a ng-show="editing" ng-click="refreshActivity(activity);editing=false;"
                       class="btn btn-warning btn-sm"
                       title="Annuler la modification">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>

                    <a ng-show="!editing" ng-click="editing=true;" class="btn btn-info btn-sm" title="Modifier">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-show="!editing" ng-click="deleteActivity(activity.id);" class="btn btn-danger btn-sm"
                       title="Supprimer">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>

            </tbody>

            <tfoot>

            <tr class="success">
                <td class="text-right" colspan="3">Total&nbsp;:</td>
                <td>{{total()}}</td>
                <td colspan="2"></td>
            </tr>

            </tfoot>
        </table>
    </div>
</div>
