<div class="row">

    <div class="col-md-12">
        <div class="page-header">
            <h1>Mon Profil</h1>
        </div>

    </div>

    <div class="col-md-2">

        <p class="lead">

        <h2>{{member.name}}</h2>
        {{member.company}}<br/>{{member.email}}

        <div class="well well-sm" style="color: white;background-color: {{member.color}};">Couleur&nbsp:
            {{member.color}}
        </div>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form role="form" class="form-inline">

            <div class="form-group">
                <label for="color">Changer la couleur</label>
                <input type="text" colorpicker class="form-control" id="color" ng-model="member.color">
            </div>
            <button type="submit" class="btn btn-success" ng-click="updateColor()"><span
                    class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Mettre &agrave; jour
            </button>
        </form>

    </div>
    &nbsp;<br/> <br/>

    <div class="col-md-4">
        <form role="form">

            <div class="form-group">
                <label for="newPassword">Nouveau mot de passe</label>
                <input type="password" class="form-control" id="newPassword" ng-model="member.newPassword1" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmer mot de passe</label>
                <input type="password" class="form-control" id="confirmPassword" ng-model="member.newPassword2"
                       required>
            </div>
            <button type="submit" class="btn btn-success" ng-disabled="member.newPassword1!=member.newPassword2"
                    ng-click="updatePassword()">
                <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Mettre &agrave;
                jour
            </button>
        </form>
    </div>

</div>