.text-center {
    text-align: center;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}

li {
    padding: 5px !important;
}

.fc-today {
    background-image: linear-gradient(to bottom, #00008b, #6a5acd);
}

.fc-grid .fc-event-time {
    display: none;
}

.dayOff .fc-event-inner {
    background: #808080;
}

.member1 .fc-event-inner {
    background: #228b22;
}

.member2 .fc-event-inner {
    background: #8a2b2e;
}

.member3 .fc-event-inner {
    background: #87ceeb;
}

.member4 .fc-event-inner {
    background: #ff8c00;
}

.member5 .fc-event-inner {
    background: #ff4500;

}

.member6 .fc-event-inner {
    background: #9acd32;
}

.member7 .fc-event-inner {
    background: #a52a2a;
}

.member8 .fc-event-inner {
    background: #ff1493;
}

.member9 .fc-event-inner {
    background: #9370db;
}

.member10 .fc-event-inner {
    background: #2e8b57;
}

.member11 .fc-event-inner {
    background: #f4a460;
}

.member12 .fc-event-inner {
    background: #b8860b;
}


