<h1 class="text-center">Membres</h1>
<div class="row">
    <div class="col-md-2">
        Filtrer&nbsp;: <input ng-model="query"><br/><br/>
        Actifs&nbsp;<input type="checkbox" data-ng-model='search.type1' data-ng-true-value='true'
                           data-ng-false-value=''/><br/><br/>
        Administrateurs&nbsp;<input type="checkbox" data-ng-model='search.type2' data-ng-true-value='ADMINISTRATOR'
                                    data-ng-false-value='' value='true'/>
        <br/><br/> Trier&nbsp;:
        <select ng-model="orderProp">
            <option value="name">Alphab&eacute;tique</option>
            <option value="company">Entreprise</option>
        </select>

    </div>
    <div class="col-md-10">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Entreprise</th>
                <th>E-mail</th>
                <th>Actif</th>
                <th>JHI</th>
                <th>MHI</th>
                <th>Remarques</th>
                <th>Couleur HTML</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="member in members | filter:query | filter:search.type1 | filter:search.type2 | orderBy:orderProp">

                <td>{{member.id}}</td>
                <td>{{member.name}}</td>
                <td>{{member.company}}</td>
                <td>{{member.email}}</td>
                <td>{{member.active}}</td>
                <td>{{member.estimatedWorkDaysString}}</td>
                <td>{{member.estimatedWorkMonthsString}}</td>
                <td>{{member.comment}}</td>
                <td>{{member.absenceHTMLColor}}</td>
                <td>{{member.memberType}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
